#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Reference: https://setuptools.pypa.io/en/latest/userguide/miscellaneous.html

recursive-include python/pyspark *.pyi py.typed *.json

# python/deps/ is a temporary directory created by build_backend.py during build.
# It contains symlinks to JARs, scripts, and data files from the Spark source tree.
recursive-include python/deps/jars *.jar
graft python/deps/bin
recursive-include python/deps/sbin spark-config.sh spark-daemon.sh start-history-server.sh stop-history-server.sh
recursive-include python/deps/data *.data *.txt
recursive-include python/deps/licenses *.txt
recursive-include python/deps/examples *.py
recursive-include python/lib *.zip
include python/README.md
include build_backend.py

# Note that these commands are processed in the order they appear, so keep
# this exclude at the end.
global-exclude *.py[cod] __pycache__ .DS_Store
